<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="36214PetrEmil.GitWorktreeManager"
    Publisher="CN=89848537-CB1A-4385-9E53-BB9E507F2CE8"
    Version="2.1.0.0" />

  <Properties>
    <DisplayName>Branch Manager</DisplayName>
    <PublisherDisplayName>Emil Petro</PublisherDisplayName>
    <Logo>Assets\StoreStoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.22000.0" MaxVersionTested="10.0.22000.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Branch Manager"
        Description="A simple GUI to manage Git Worktrees"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\StoreMedTile.png"
          Square44x44Logo="Assets\StoreAppList.png">
        <uap:DefaultTile Square71x71Logo="Assets\StoreSmallTile.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
